body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #111;
}

.typing {
    width: 50%;
    font-family: "Roboto Mono", sans-serif;
    font-size: 40px;
    color: greenyellow;
    font-weight: 700;
}

.robot {
    box-sizing: border-box;
    width: 30%;
    padding: 3%;
}
